# Eclipse project settings
######
.settings
.cproject
.project

# Code::blocks files
######
*.cbp
*.depend
*.layout
*.layout.save

# Logs
######
*.log

# Binaries
######
*.o
*.dll
*.exe
obj

# picture sources
######
*.xcf
*.orig
*.out
*.layout.save
save
